# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Environment variables
.env
.env.*
!.env.example

# Static / Media
staticfiles/
media/

# PyCharm
.idea/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Tests / Coverage
.coverage
coverage.xml
htmlcov/
.pytest_cache/

# Type checking / lint cache
.mypy_cache/
.ruff_cache/

# Build
build/
dist/
*.egg-info/

# Temporary files
*.tmp
*.temp
